#-------------------------------
# General Site Settings

title: EQ
title-extended: Esoterico Quotidiano
logo: '/images/logo-white.png'
description: 
  "<p>
      Ho scritto due libri, l'ho fatto con gusto, per diletto, senza mestiere.<br/>
      Parlano di cose semplici in modo complesso, e di cose complesse in modo
      semplice. <br/>
      Ho creato questo blog per raccontare come sono nati
      e a quali princìpi si ispirano.<br/>
      Cosa stimolano in voi i vari testi?
    </p>
    <p>
        Aemi Bonifetto
    </p>"
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://www.esotericoquotidiano.it" # the base hostname & protocol for your site, e.g. http://example.com

#-------------------------------
# Book settings
book:
  image: "/images/book-cover.png"
  url: "https://www.amazon.it/dp/B0DZ2D5PZC" #"https://www.amazon.it/Esoterico-quotidiano-Piccole-storie-grandi/dp/B08PXHJB7P/ref=sr_1_1?__mk_it_IT=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=esoterico+quotidiano&qid=1607502825&s=books&sr=1-1"
  pageUrl: "/presentazione-nuovo-libro/"


#-------------------------------
# Author Settings
author:
  name: Aemi Bonifetto
  bio: Sono Aemi Bonifetto, un “entronauta”, una di quelle persone che hanno intrapreso un viaggio all’interno di se stessi per trovare il senso della propria vita.
  image: 'https://via.placeholder.com/1920x1080'
  avatar: '/images/chi-sono.jpg'

#-------------------------------
# Hero section
hero: true # To disable hero section use value false
hero-title: Esoterico Quotidiano
hero-description: un viaggio per chi si pone <br/>le domande essenziali
hero-image: '/images/hp-bg.jpg' #'https://via.placeholder.com/1920x1080'


#-------------------------------
# Footer section
# Example of adding a new link to the footer - {name: "Github", icon: "ion-logo-github", link: "https://github.com"}
# Other icons can be found at https://ionicons.com
footer-image: '/images/hp-bg.jpg' # 'https://via.placeholder.com/1920x1080'
contact:
  # - {name: "Instagram", icon: "ion-logo-instagram", link: "https://www.instagram.com/esotericoquotidiano/", target: "_blank"}
  - {name: "Email", icon: "ion-ios-mail", link: "mailto:esotericoquotidiano@gmail.com"}

  # - {name: "Twitter", icon: "ion-logo-twitter", link: "https://twitter.com"}
  # - {name: "Facebook", icon: "ion-logo-facebook", link: "https://facebook.com"}
  # - {name: "Dribbble", icon: "ion-logo-dribbble", link: "https://dribbble.com"}
  # - {name: "Pinterest", icon: "ion-logo-pinterest", link: "https://pinterest.com"}


#-------------------------------
# Comment Section (Disqus)
# disqus-identifier: anvodstudio-demo # add your shortname for Disqus Comment. For example anvodstudio-demo


#-------------------------------
# Comment Section
get-form-action-url: "https://script.google.com/macros/s/AKfycbwrK3kBP10pY5pbvDS-wUJI-QWGcHmqmanoUNlYmgw4rxS3r90fYvn4tb51lDOhHG7aRg/exec"


#-------------------------------
# Google reCAPTCHA
g-re-captcha-site-key: "6Ldga_sUAAAAAOTvruuIPKbcg-BfgmJZqVpESzDR"

#-------------------------------
# Instagram Feed
instafeed: false # To enable the instafeed, use the value true. To turn off use the value false.
userID: 6716400487
accessToken: 6716400487.1677ed0.4fae51c47bc544a895b81756a7d0c477


#-------------------------------
# Google Analytics
google-analytics: UA-167238945-1


#-------------------------------
# Newsletter
mailchimp: true # To enable the mailchimp form, use the value true. To turn off use the value false.
mailchimp-identifier: esotericoquotidiano.us18.list-manage.com/subscribe/post?u=c4a8ec887ba563c71dd71be0a&amp;id=53138c26bb


#-------------------------------
# Build settings
markdown: kramdown
permalink: pretty
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll/tagging

paginate: 9
paginate_path: "/page/:num"

# Pages Path
defaults:
  - scope:
      path: '_pages'
    values:
      permalink: /:basename:output_ext

include:
  - _pages

# Tags
tag_page_dir:         tag
tag_page_layout:      tag_page
tag_permalink_style:  pretty

sass:
  sass_dir: _sass
  style: compressed

excerpt_separator: <!--read-more-->