---
layout: default
---
{% include hero.html %}

<div class="container">
  <div>
  <blockquote class="intro-quote">
    <p>
      Ho scritto un libro, l'ho fatto con gusto, per diletto, senza mestiere.<br/>
      Parla di cose semplici in modo complesso, e di cose complesse in modo
      semplice. <br/>
      Ora lo sto rifinendo e ho creato questo blog per raccontare come è nato
      e a quali princìpi si ispira.<br/>
      Cosa stimolano in voi i vari testi? <br/>
      I vostri commenti saranno per me assai preziosi!
    </p>
    <p>
        Æmi Bonifetto
    </p>
  </blockquote>
</div>
  <div class="row">
    <div class="col col-12 col-d-10 col-m-12 push-m-0 push-d-1">
      <div class="container__inner">
        <div class="contaniner__inner-box">
          <div class="row grid">
            {% assign home_page_pages = site.pages | where: 'home_page', true %}
            {% for page in home_page_pages %}
              {% include page-content.html %}
            {% endfor %}
            {% if site.posts.size > 0 %}
              {% for post in paginator.posts %}
                {% include article-content.html %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include pagination.html %}