/* Article */
.article {
  margin-bottom: 20px;
}

.article__title {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 40px;
  @media only screen and (max-width: $mobile) {
    font-size: 26px;
    line-height: 26px;
  }
}

.article__image {
  position: relative;
  display: inline-block;
  &:hover {
    &:after {
      transition: .4s ease-in-out; 
      opacity: 1;
      visibility: visible;
    }
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    transition: .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }
}

.article__content {
  padding: 20px 0;
  background: #fff;
}

.article__excerpt {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 26px;
  color: $gray;
}

.article__meta {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  line-height: initial;
  color: $gray;

  .article-tags__box {
    display: flex;
  }

  .article__tag,
  .article__date {
    flex-grow: 1;
    font-size: 18px;
    font-style: italic;
    line-height: 20px;
    color: $dark;
  }

  .article__tag {
    margin-right: 3px;
    &:after {
      content: ",";
      display: inline-block;
    }
    &:last-child {
      &:after {
        content: "";
        position: relative;
        bottom: 0.3rem;
        display: inline-block;
        height: 1px;
        width: 12px;
        margin: 0 .6rem 0 .6rem;
        background: $dark;
      }
    }
  }
}

.content {
  &.without-hero {
    padding-top: 130px;
    .container__inner {
      margin-top: 0;
    }
  }
  .container__inner {
    margin-top: 50px;
    @media only screen and (max-width: $mobile) {
      margin-top: 30px;
    }
  }
}

.intro-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $desktop) {
    display: block;
  }

  .intro-quote {
    border-left: 4px solid #7c8853;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .book-container {
    flex-grow: 1;

    @media only screen and (min-width: $desktop) {
      max-width: 50%;
    }
  }

  .book-data {
    display: flex;
    justify-content: space-around;

    @media only screen and (max-width: $mobile) {
      display: block;
    }
    .book-image {
      width: 30%;
      align-items: center;
      display: flex;

      @media only screen and (min-width: $desktop) {
        width: 40%;
      }
      @media only screen and (max-width: $mobile) {
        margin: auto;
        width: 50%;
      }

      img {
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    .book-detail {
      width: 60%;
      padding: 30px;

      @media only screen and (max-width: $mobile) {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
      }

      h3 {
        margin-top: 20px;

        @media only screen and (max-width: $mobile) {
          margin-bottom: 0px;
        }
      }
    }

    .book-article-link {
      background: transparent;
      border-radius: 3px;
      height: 50px;
      width: 100%;
      margin-top: 20px;
      border: 1px solid white;
      padding: 8px 24px;

      vertical-align: middle;
      font-size: 14px;
      line-height: 2em;
      letter-spacing: .2em;
      font-weight: 700;
      text-transform: uppercase;
      box-sizing: border-box;


      display: flex;
      align-items: center;
      justify-content: center;

      -webkit-text-fill-color: white;
    }
  }
}

