{% if (site.get-form-action-url and page.comment_enabled == false) %}
    {% if site.g-re-captcha-site-key %}
    <script>
        (function () {
            var d = document, s = d.createElement('script');
            s.src = 'https://www.google.com/recaptcha/api.js';
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <script>
        function showValidationResult(element) {
            element.classList.add('required-input');
        }
        
        function onSubmit(token) {
            var form = document.getElementById('feedback-form');
            if(form.checkValidity()) {
                event.preventDefault();
                var formData = new FormData(form);
                fetch(form.action, {
                    method: 'POST',
                    redirect: 'follow',
                    body: formData,
                    headers: {
                        "Content-Type": "text/plain;charset=utf-8",
                    },
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    form.style.display = 'none';
                    document.getElementById('success-message').style.display = 'block';
                    // if (data.status == 'success') {
                    //     form.style.display = 'none';
                    //     document.getElementById('success-message').style.display = 'block';
                    // } else {
                    //     alert("Non è stato possibile inviare il commento. Siete pregati di riprovare più tardi.");
                    // }
                })
                .catch(error => console.error('Error:', error));
            } else {
                showValidationResult(document.getElementById("comments-group-top"));
            }
        }
    </script>
    <script>
        function toggleFeedbackForm() {
            var commentDiv = document.getElementById("comment-form-div");
            var toggleButton = document.getElementById("comment-form-toggle-button");

            if (commentDiv.style.display === "none") {
                $(commentDiv).slideDown("slow");
                toggleButton.style.display = "none";
            } else {
                $(commentDiv).slideUp("slow");
                toggleButton.style.display = "block";
            }
        }
    </script>
    {% endif %}
    <div class="widget">
        <div id="comment-form-toggle-button" class="comment-button" onclick="toggleFeedbackForm()">Scrivimi cosa ne pensi</div>
        <div id="comment-form-div" class="widget" style="display: none">
            <div class="widget__head">
                <h4 class="widget__title">Scrivimi cosa ne pensi</h4>
            </div>
            <form id="feedback-form" action="{{ site.get-form-action-url }}" method="POST">
                <div class="comments-group">
                    <div id="comments-group-top" class="comments-group-top">
                        <input type="hidden" name="entry.676267290" value="{{page.title}}">
                        
                        <div onfocusout="showValidationResult(this)">
                            <input id="name" class="comments-item" type="text" name="entry.806879583" placeholder="Nome" required/>
                        </div>
                        
                        <div onfocusout="showValidationResult(this)">
                            <input  class="email comments-item" type="email" name="entry.224565101" placeholder="Email Address" required/>
                        </div>
                
                        <div onfocusout="showValidationResult(this)">
                            <textarea class="required comments-item" style="height: 100px;" rows="4" cols="50" name="entry.366632405" placeholder="Scrivi un commento" required></textarea>
                        </div>

                        <div class="inline-content">
                            <div>
                                <label class="required comments-item" for="rating">Ti e' piaciuto?</label>
                                <fieldset class="rating comments-item">
                                    <input type="radio" id="star5" name="entry.1637648007" value="5" required/><label class = "full" for="star5" title="Fantastico - 5 stelle"></label>
                                    <input type="radio" id="star4" name="entry.1637648007" value="4" required/><label class = "full" for="star4" title="Interessante - 4 stelle"></label>
                                    <input type="radio" id="star3" name="entry.1637648007" value="3" required/><label class = "full" for="star3" title="Niente male - 3 stelle"></label>
                                    <input type="radio" id="star2" name="entry.1637648007" value="2" required/><label class = "full" for="star2" title="Non mi è piaciuto - 2 stelle"></label>
                                    <input type="radio" id="star1" name="entry.1637648007" value="1" required/><label class = "full" for="star1" title="Terribile - 1 stelle"></label>
                                </fieldset>
                            </div>
                            <!-- <div>
                                <label class="comments-item" for="newsletter">Iscriviti alla newsletter</label>
                                <input  class="required comments-item checkmark" type="checkbox" name="newsletter" value="newsletter" checked/>
                            </div> -->
                        </div>
                    </div>
                    {% if site.g-re-captcha-site-key %}
                    <button class="newsletter-button g-recaptcha" 
                        data-sitekey="{{ site.g-re-captcha-site-key }}" 
                        data-callback="onSubmit"
                        type="submit"
                        style="margin-top: 20px">Invia</button>
                    {% else %}
                    <button class="" type="submit">Invia</button>
                    {% endif %}
                </div>
            </form>
            <div id="success-message" style="display:none; text-align: center;">
                Grazie per il tuo commento!
            </div>
        </div>
    </div>
{% endif %}