<!-- <script src="https://www.google.com/recaptcha/api.js"></script>
<script>
function onSubmit(token) {
    document.getElementById("feedback-form").submit();
}
</script> -->



<div class="newsletter widget widget-newsletter">
    <div class="widget__head">
    <h4 class="widget__title">Scrivimi cosa ne pensi</h4>
    </div>
    <form id="feedback-form" action="https://getform.io/f/392e5737-3625-452c-bd3d-8b2b77626509" method="POST">
    <input type="hidden" name="article" value="{{page.title}}">
    <div class="newsletter-group">
        <div class="newsletter-group-top">
        <label class="screen-reader-text" for="name">Nome</label>
        <input  class="newsletter-email required" type="text" name="name" placeholder="Nome" required/>
        <label class="screen-reader-text" for="email">Email address</label>
        <input  class="newsletter-email required email" type="text" name="email" placeholder="Email Address" required/>
        <label class="screen-reader-text" for="rating">Ti e' piaciuto?</label>
        <legend class="form-legend">Rating:</legend>


        <input id="rating-5" name="rating" type="radio" value="5" required/>
        <label for="rating-5" data-value="5">
        <span class="rating-star">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
        </span>
        <span class="ir">5</span>
        </label>
        <input id="rating-4" name="rating" type="radio" value="4" required/>
        <label for="rating-4" data-value="4">
        <span class="rating-star">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
        </span>
        <span class="ir">4</span>
        </label>
        <input id="rating-3" name="rating" type="radio" value="3" required/>
        <label for="rating-3" data-value="3">
        <span class="rating-star">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
        </span>
        <span class="ir">3</span>
        </label>
        <input id="rating-2" name="rating" type="radio" value="2" required/>
        <label for="rating-2" data-value="2">
        <span class="rating-star">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
        </span>
        <span class="ir">2</span>
        </label>
        <input id="rating-1" name="rating" type="radio" value="1" required/>
        <label for="rating-1" data-value="1">
        <span class="rating-star">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star"></i>
        </span>
        <span class="ir">1</span>
        </label>

        <div class="form-action">
        <input class="btn-reset" type="reset" value="Reset" />   
        </div>

        <div class="form-output">
        ? / 5
        </div>

        <label class="screen-reader-text" for="feedback">Scrivi un commento</label>
        <textarea class="newsletter-email required" rows="4" cols="50" name="feedback" required></textarea>
        <button class="newsletter-button" type="submit">Invia</button>
        <!-- <button class="newsletter-button g-recaptcha" 
data-sitekey="6Ldga_sUAAAAAOTvruuIPKbcg-BfgmJZqVpESzDR" 
data-callback='onSubmit' 
data-action='submit'>Invia</button> -->
        </div>    
    </div>
    </form>
</div>