<!-- begin footer -->
<footer class="footer" style="background-image: url({{site.baseurl}}{{site.footer-image}})">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-d-10 col-m-12 push-m-0 push-d-1">
      <div class="footer__inner">
        {% include contact-link.html %}
        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.title}}</a>. Crafted & Designed by <a href="https://themeforest.net/user/anvodstudio">Anvod Studio</a>.</div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->