{% if site.mailchimp %}
    <div class="newsletter widget widget-newsletter">
        <div class="widget__head">
        <h4 class="widget__title">Newsletter</h4>
        </div>
        <form class="newsletter-form validate" action="{% if site.mailchimp-identifier %}//{{site.mailchimp-identifier}}{% else %}#{% endif %}"
        method="POST" id="membedded-subscribe-form" name="membedded-subscribe-form" target="_blank" novalidate>
        <div class="newsletter-group">
            <div class="newsletter-group-top">
            <label class="screen-reader-text" for="mce-EMAIL">Email address</label>
            <input class="newsletter-email required email" id="mce-EMAIL" type="text" name="EMAIL" placeholder="Email Address">
            </div>
            <input class="newsletter-button" id="membedded-subscribe" type="submit" name="subscribe" value="Subscribe">
        </div>
        </form>
    </div>
{% endif %}