/* Contact */
.contact {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  .contact__item {
    display: inline-block;
    margin: 0 20px;

    @media only screen and (max-width: $tablet) {
      margin: 0 10px;
    }
    @media only screen and (max-width: $mobile) {
      margin: 0 3px;
    }
  }

  .contact-button {
    background: transparent;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid white;
    outline: none;
    padding: 8px 24px;
  }

  .contact__link {
    font-size: 21px;
    line-height: 30px;
    color: #fff;
    &:hover {
      opacity: 0.7;
    }
    i {
      margin-right: 5px;
    }
    @media only screen and (max-width: $tablet) {
      font-size: 18px;
    }
  }
}