<!-- begin header -->
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/">
          {%if site.logo %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}">
          {% else %}
            {{ site.title }}
          {% endif %}
          </a>
        </div>
        
        <div class="menu-overlay">
          <nav class="main-nav">
            <div class="main-nav__box">
              <div class="nav__icon-close">
                <i class="ion ion-md-close"></i>
              </div>
              <div class="nav-grid">
                <div class="nav-grid__item">
                  <h2 class="nav-grid__title">Latest Story</h2>
                  <div class="widget-story">
                    {% for post in site.posts limit:4 %}
                      <div class="widget-story__posts">
                        {% if post.image %}
                        <div class="widget-story__header">
                          <a class="widget-story__image" href="{{ post.url }}" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
                        </div>
                        {% endif %}
                        <div class="widget-story__content">
                          <h6 class="widget-story__title"><a href="{{ post.url }}">{{ post.title }}</a></h6>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                
                <div class="nav-grid__item">
                  <h2 class="nav-grid__title">Hey!</h2>
                    <div class="widget-about">
                      <div class="avatar"><a href="{{site.baseurl}}/about" class="avatar__image" style="background-image: url({{site.baseurl}}{{site.author.avatar}})"></a></div>
                      <p class="author-bio">{{site.author.bio}}</p>
                      <a href="{{site.baseurl}}/about" class="author-btn">Read more</a>
                    </div>
                </div>
                
                <div class="nav-grid__item">
                  <h2 class="nav-grid__title">Menu</h2>
                    <ul class="nav__list list-reset">
                      <li class="nav__item">
                        <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
                      </li>
                      {% for page in site.pages %}
                        {% unless page.name == 'tags.html' or page.name == '404.html' %}
                          {% if page.title %}
                          <li class="nav__item">
                            <a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a>
                          </li>
                          {% endif %}
                        {% endunless %}
                      {% endfor %}
                    </ul>
                </div>

              </div>
            </div>
          </nav>
        </div>
        <div class="nav-buttons">
          <i class="nav__icon nav__icon-menu ion ion-md-menu"></i>
          <i class="nav__icon nav__icon-search ion ion-md-search"></i>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->

{% include search.html %}